@charset "utf-8";
/* CSS Document */
*{
margin: 0px;
padding:0px;
}

.content-popup{
	float: left;
	height: auto;
	width: 20%;
	margin-left: 40%;
	border: 0.5px solid #999;
	margin-right: 40%;
	background-image: url(../image/fondopopup.jpg);
	background-repeat: repeat;
	margin-top: 10%;
}
.baractualizar{
	background-image: url(../image/fondoresumen.jpg);
	background-repeat: repeat;
	float: left;
	height: 50px;
	width: 100%;
}
.iconcerrar{
	float: right;
	height: 38px;
	width: 10%;
	background-color: #333;
	padding-top: 2px;
	padding-bottom: 10px;
	padding-right: 1.5%;
	padding-left: 1.5%;
}
.logo {
	float: left;
	height: auto;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.titulo{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	color: #FFFFFF;
	text-align: center;
	float: left;
	height: 35px;
	width: 85%;
	padding-top: 15px;
}
.titulo1_2{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	color: #FFFFFF;
	text-align: center;
	float: left;
	height: 35px;
	width: 100%;
	padding-top: 15px;
        border: 0px;
	background-image: url(../image/fondoresumen.jpg);
	background-repeat: repeat;
}
.titulo2_2{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	color: #FFFFFF;
	text-align: center;
	float: left;
	height: 35px;
	width: 100%;
	padding-top: 0px;
        border: 0px;
	background-image: url(../image/fondoresumen.jpg);
	background-repeat: repeat;
}
.udiv{width:100%; height:10px; background-color:red;}
.pdiv{width:100%; height:10px; background-color:red;}
.usuario{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	color: #333333;
	width: 96%;
	background-color: #EEEEEE;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	float: left;
	padding-left: 4%;
        border:0px;
}
.password{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	color: #333333;
	width: 96%;
	background-color: #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	float: left;
	padding-left: 4%;
        border:0px;
}
